
<footer id="footer" class="footer">
    <div class="copyright">
        &copy; 2025 Copyright <strong><span>Ecobank Tchad</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
        Designed by <a>Ecobank-Tchad</a>
    </div>
</footer>