@model CreateRequestPurchaseOrExecutionWorkDto
@{
    ViewData["Title"] = "CreateRequestPurchaseOrExecutionWork";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
 
<div class="pagetitle">
    <h1>@ViewData["Title"]</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Admin</li>
            <li class="breadcrumb-item ">Basket</li>
            <li class="breadcrumb-item active"><a asp-action="Index">Index</a></li>
        </ol>
    </nav>
</div>
<hr />
<section class="content">
    <div class="container-fluid">
        <div class="card card-default">
            <div class="card-header">
                <h3 class="card-title">@ViewData["Title"] </h3>
            </div>
            <div class="card-body">
                <form asp-action="CreateRequestPurchaseOrExecutionWork" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                     
                    <div class="row">
                        <div class="col-2">
                            <label asp-for="Nature" class="control-label"></label>
                            <input asp-for="Nature" class="form-control" />
                            <span asp-validation-for="Nature" class="text-danger"></span>
                        </div>
                        <div class="col-2">
                            <label asp-for="Maintenance" class="control-label"></label>
                            <input asp-for="Maintenance" class="form-control" />
                            <span asp-validation-for="Maintenance" class="text-danger"></span>
                        </div>
                        <div class="col-2">
                            <label asp-for="GeneralService" class="control-label"></label>
                            <input asp-for="GeneralService" class="form-control" />
                            <span asp-validation-for="GeneralService" class="text-danger"></span>
                        </div>
                        <div class="col-2">
                            <label asp-for="BudgetLine" class="control-label"></label>
                            <input asp-for="BudgetLine" class="form-control" />
                            <span asp-validation-for="BudgetLine" class="text-danger"></span>
                        </div>

                        <div class="col-4">
                            <label asp-for="SupplierId" class="control-label"></label>
                            <select asp-items="@ViewBag.SupplierSelectItem" asp-for="SupplierId" class="form-control">
                                <option>Emplyee</option>
                            </select>
                            <span asp-validation-for="SupplierId" class="text-danger"></span>
                        </div> 
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-6 mt-2">
                            <input type="submit" value="ENREGISTRE" class="btn btn-primary" /> <br />
                        </div>
                        <div class="col-10">
                            <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                <input asp-for="IsActived" type="checkbox" class="custom-control-input" id="customSwitch3">
                                <label class="custom-control-label" for="customSwitch3">@Html.DisplayNameFor(model => model.IsActived)</label>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
            <div class="card-footer"> <a asp-action="Index">Back to List</a></div>
        </div><!--./card card-default -->
    </div><!--./container-fluid -->
</section>
